.vscode/**
.vscode-test/**
out/**
node_modules/**
src/spa/**
src/test/**
.gitignore
.yarnrc
esbuild.js
vite.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/.vscode-test.*